.places {
    margin: 118px auto 66px;
    max-width: 984px;
}

.places__item {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        'title artist'
        'image description'
        'button description';
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    padding-bottom: 80px;
}

.places__item:last-child{
    padding-bottom: 0px;
}

.places__title {
    grid-area: title;
    margin: 0;
    font-family: 'Inter';
    font-weight: 900, black;
    font-style: normal;
    font-size: 72px;
    line-height: 1.06;
    max-width: 460px;
}

.places__artist {
    grid-area: artist;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.22;
}

.places__artist::before {
    content: "Artist";
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    padding-bottom: 8px;
}

.places__image {
    grid-area: image;
}


.places__description {
    grid-area: description;
}

.places__paragraph {
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.63;
    padding-bottom: 25px;
}

.places__paragraph:last-child {
    padding-bottom: 0px;
}

.places__button {
    grid-area: button;
    text-decoration: none;
    color: #FFFFFF;
    max-width: 208px;
    max-height: 22px;
    padding: 13px 20px;
    background-color: #0278FE;
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    transition: background-color .5s ease;
    border-radius: 4px;
}

.places__button:hover {
    background-color: #0063D2;
}
@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin-bottom: 92px;
        margin-top: 88px;
    }
    .places__image {
        width: 340px;
        height: 340px;
    }
    .places__paragraph{
        font-size: 16px;
    }
    .places__title {
        font-size: 42px;
        line-height: 1.10;
    }
}

@media screen and (max-width: 492px) {
    .places__item {
        grid-template-areas:
        'title'
        'artist'
        'image'
        'description'
        'description'
        'button';
        grid-column-gap: 28px;
    }

    .places__image {
        max-width: 320px;
    }
    .places__button {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .places__item {
        grid-row-gap: 30px;
        width: 288px;
    }
    .places__paragraph {
        font-size: 16px;
        width: 288px;
        margin: 0 auto;
    }
    .places__title {
        width: 288px;
        margin: 0 auto;
        font-size: 32px;
        line-height: 1.09;
    }
    .places {
        max-width: 320px;
        margin-top: 62px;
        margin-bottom: 64px;
    }
    .places__artist {
        width: 288px;
        margin: 0 auto;
    }
}